.mac-book-pro162-mac-book-pro162 {
    width: 1728px;
    height: 1117px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1728px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 1);
}

.mac-book-pro162-aamywaylogoremovebgpreview1 {
    top: 15px;
    left: 35px;
    width: 140px;
    height: 123px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-text {
    top: 36.090911865234375px;
    left: 666px;
    color: rgba(0, 0, 0, 1);
    width: 118px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro162-text02 {
    top: 37.090911865234375px;
    left: 814px;
    color: rgba(0, 121, 187, 1);
    width: 108px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro162-text04 {
    top: 36.09000015258789px;
    left: 1197px;
    color: rgba(0, 0, 0, 1);
    width: 195px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro162-text06 {
    top: 36.09000015258789px;
    left: 971px;
    color: rgba(0, 0, 0, 1);
    width: 196px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro162-line3 {
    top: 99.59091186523438px;
    left: 829.9967651367188px;
    width: 78px;
    height: 0px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle21 {
    top: 421.0909118652344px;
    left: 70px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle22 {
    top: 421.0909118652344px;
    left: 297px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle23 {
    top: 421.0909118652344px;
    left: 524px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle24 {
    top: 421.0909118652344px;
    left: 751px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle25 {
    top: 421.0909118652344px;
    left: 978px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle26 {
    top: 421.0909118652344px;
    left: 1205px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle27 {
    top: 421.0909118652344px;
    left: 1432px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle28 {
    top: 587.0909423828125px;
    left: 67px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle29 {
    top: 587.0909423828125px;
    left: 297px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle30 {
    top: 587.0909423828125px;
    left: 524px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle31 {
    top: 587.0909423828125px;
    left: 751px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle32 {
    top: 587.0909423828125px;
    left: 978px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle33 {
    top: 587.0909423828125px;
    left: 1205px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle34 {
    top: 587.0909423828125px;
    left: 1432px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle35 {
    top: 753.0909423828125px;
    left: 70px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle36 {
    top: 753.0909423828125px;
    left: 297px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle37 {
    top: 753.0909423828125px;
    left: 524px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle38 {
    top: 753.0909423828125px;
    left: 751px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle39 {
    top: 753.0909423828125px;
    left: 978px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle40 {
    top: 753.0909423828125px;
    left: 1205px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle41 {
    top: 753.0909423828125px;
    left: 1432px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle42 {
    top: 919.0909423828125px;
    left: 70px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle43 {
    top: 919.0909423828125px;
    left: 297px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle44 {
    top: 919.0909423828125px;
    left: 524px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle45 {
    top: 919.0909423828125px;
    left: 751px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle46 {
    top: 919.0909423828125px;
    left: 978px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle47 {
    top: 919.0909423828125px;
    left: 1205px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-rectangle48 {
    top: 919.0909423828125px;
    left: 1432px;
    width: 164px;
    height: 103px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro162-listbox-component {
    top: 269.0909118652344px;
    left: 35px;
    width: 308px;
    height: 289px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
}

.mac-book-pro162-list-boxtitle {
    top: 0px;
    left: 14px;
    width: 280px;
    height: 20px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
}

.mac-book-pro162-text08 {
    color: rgba(51, 51, 51, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro162-list-box-main {
    top: 28px;
    left: 14px;
    width: 280px;
    height: 60px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
}

.mac-book-pro162-chevron {
    top: 28px;
    left: 248px;
    width: 10px;
    height: 5px;
    opacity: 0.80;
    position: absolute;
    box-sizing: border-box;
}

.mac-book-pro162-placeholder-text {
    top: 20px;
    left: 16px;
    width: 184px;
    height: 20px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
}

.mac-book-pro162-text10 {
    color: rgba(102, 102, 102, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro162-clip-list {
    top: 28px;
    left: 0px;
    width: 308px;
    height: 261px;
    display: flex;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
}

.mac-book-pro162-dropdown-list {
    top: 68px;
    left: 14px;
    width: 280px;
    height: 1px;
    display: flex;
    opacity: 0.00;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10000000149011612);
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 8px;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
}

.mac-book-pro162-item1 {
    width: 280px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 1px;
    background-color: rgba(255, 255, 255, 1);
}

.mac-book-pro162-text12 {
    top: 12px;
    left: 16px;
    color: rgba(51, 51, 51, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro162-item2 {
    width: 280px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 1px;
    background-color: rgba(255, 255, 255, 1);
}

.mac-book-pro162-text14 {
    top: 12px;
    left: 16px;
    color: rgba(51, 51, 51, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro162-item3 {
    width: 280px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 1px;
    background-color: rgba(255, 255, 255, 1);
}

.mac-book-pro162-text16 {
    top: 12px;
    left: 16px;
    color: rgba(51, 51, 51, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro162-item4 {
    width: 280px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 1);
}

.mac-book-pro162-text18 {
    top: 12px;
    left: 16px;
    color: rgba(51, 51, 51, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Montserrat;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}