.mac-book-pro166-mac-book-pro166 {
    width: 100%;
    height: 1117px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1728px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 1);
}

.mac-book-pro166-aamywaylogoremovebgpreview1 {
    top: 15px;
    left: 35px;
    width: 140px;
    height: 123px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-text {
    top: 36.090911865234375px;
    left: 675px;
    color: rgba(0, 0, 0, 1);
    width: 118px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro166-text02 {
    top: 36.090911865234375px;
    left: 823px;
    color: rgba(0, 0, 0, 1);
    width: 108px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro166-text04 {
    top: 36.09000015258789px;
    left: 1197px;
    color: rgba(73, 159, 206, 1);
    width: 195px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro166-text06 {
    top: 36.09000015258789px;
    left: 971px;
    color: rgba(0, 0, 0, 1);
    width: 196px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro166-line3 {
    top: 100.08999633789062px;
    left: 1196.5537109375px;
    width: 122px;
    height: 0px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-group10 {
    top: 505.9999694824219px;
    left: 501px;
    width: 712px;
    height: 87px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.mac-book-pro166-rectangle1 {
    top: 39px;
    left: 0px;
    width: 367px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro166-text08 {
    color: var(--dl-color-default-9black);
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro166-rectangle2 {
    top: 39px;
    left: 0px;
    width: 367px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro166-rectangle3 {
    top: 39px;
    left: 0px;
    width: 367px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro166-rectangle4 {
    top: 39px;
    left: 429px;
    width: 121px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro166-rectangle5 {
    top: 39px;
    left: 591px;
    width: 121px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro166-text10 {
    top: 510.9999694824219px;
    left: 930px;
    color: var(--dl-color-default-9black);
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro166-text12 {
    top: 510.9999694824219px;
    left: 1092px;
    color: var(--dl-color-default-9black);
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro166-group7 {
    top: 616px;
    left: 501px;
    width: 178px;
    height: 27px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.mac-book-pro166-text14 {
    color: var(--dl-color-default-9black);
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro166-rectangle6 {
    top: 666px;
    left: 498px;
    width: 72px;
    height: 72px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-rectangle10 {
    top: 665.9090576171875px;
    left: 874px;
    width: 81px;
    height: 72px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-rectangle9 {
    top: 666px;
    left: 780px;
    width: 72px;
    height: 72px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-rectangle7 {
    top: 666px;
    left: 592px;
    width: 72px;
    height: 72px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-rectangle8 {
    top: 666px;
    left: 686px;
    width: 72px;
    height: 72px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-u-s-dollar {
    top: 660px;
    left: 492px;
    width: 84px;
    height: 84px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-japanese-yen {
    top: 666px;
    left: 586px;
    width: 84px;
    height: 84px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-british-pound {
    top: 660px;
    left: 686px;
    width: 84px;
    height: 84px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-australian-dollar {
    top: 666px;
    left: 871px;
    width: 84px;
    height: 84px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-vector {
    top: 666px;
    left: 777px;
    width: 72px;
    height: 72px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro166-component1 {
    top: 161px;
    left: 752px;
    width: 223px;
    height: 223px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
}

.mac-book-pro166-group6 {
    top: 0px;
    left: 0px;
    width: 223px;
    height: 223px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.mac-book-pro166-group5 {
    top: 0px;
    left: 0px;
    width: 223px;
    height: 223px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(217, 217, 217, 1);
}

.mac-book-pro166-text16 {
    top: 131px;
    left: 15px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 64px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro166-rectangle21 {
    top: 0px;
    left: 0px;
    width: 223px;
    height: 223px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
}

.mac-book-pro166-text18 {
    top: 131px;
    left: 15px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 64px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro166-wallet {
    top: 15px;
    left: 59px;
    width: 96px;
    height: 96px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}