.mac-book-pro165-mac-book-pro165 {
    width: 100%;
    height: 1117px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1728px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 1);
}

.mac-book-pro165-aamywaylogoremovebgpreview1 {
    top: 15px;
    left: 35px;
    width: 140px;
    height: 123px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro165-text {
    top: 36.090911865234375px;
    left: 675px;
    color: rgba(0, 0, 0, 1);
    width: 118px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro165-text02 {
    top: 36.090911865234375px;
    left: 823px;
    color: rgba(0, 0, 0, 1);
    width: 108px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro165-text04 {
    top: 36.09000015258789px;
    left: 1197px;
    color: rgba(73, 159, 206, 1);
    width: 195px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro165-text06 {
    top: 36.09000015258789px;
    left: 971px;
    color: rgba(0, 0, 0, 1);
    width: 196px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro165-line3 {
    top: 100.08999633789062px;
    left: 1196.5537109375px;
    width: 122px;
    height: 0px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro165-group6 {
    top: 181px;
    left: 752px;
    width: 223px;
    height: 223px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
}

.mac-book-pro165-group5 {
    top: 0px;
    left: 0px;
    width: 223px;
    height: 223px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(217, 217, 217, 1);
}

.mac-book-pro165-text08 {
    top: 131px;
    left: 15px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 64px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-rectangle2 {
    top: 0px;
    left: 0px;
    width: 223px;
    height: 223px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
}

.mac-book-pro165-text10 {
    top: 131px;
    left: 15px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 64px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-accountcircle {
    top: 24px;
    left: 63px;
    width: 96px;
    height: 96px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro165-group10 {
    top: 505px;
    left: 657px;
    width: 420px;
    height: 87px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.mac-book-pro165-rectangle1 {
    top: 39px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-text12 {
    color: var(--dl-color-default-9black);
    width: 70px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-rectangle21 {
    top: 39px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-text14 {
    color: var(--dl-color-default-9black);
    width: 70px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-rectangle3 {
    top: 39px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-text16 {
    top: 42.9090576171875px;
    left: 2.2888283729553223px;
    color: rgba(0, 0, 0, 1);
    width: 245px;
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-text18 {
    color: var(--dl-color-default-9black);
    width: 70px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-text20 {
    color: var(--dl-color-default-9black);
    width: 70px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-group7 {
    top: 605px;
    left: 659px;
    width: 420px;
    height: 86px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.mac-book-pro165-rectangle4 {
    top: 38px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-text22 {
    color: var(--dl-color-default-9black);
    width: 171px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-text24 {
    top: 41.9090576171875px;
    color: rgba(0, 0, 0, 1);
    width: 256px;
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-group8 {
    top: 851px;
    left: 657px;
    width: 420px;
    height: 87px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.mac-book-pro165-rectangle5 {
    top: 39px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-text26 {
    color: var(--dl-color-default-9black);
    width: 65px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-rectangle6 {
    top: 39px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-rectangle7 {
    top: 39px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-text28 {
    color: var(--dl-color-default-9black);
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-rectangle8 {
    top: 39px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-group9 {
    top: 728px;
    left: 657px;
    width: 420px;
    height: 86px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.mac-book-pro165-text32 {
    left: 2.2888283729553223px;
    color: var(--dl-color-default-9black);
    width: 177px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-rectangle9 {
    top: 38px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-rectangle10 {
    top: 38px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-rectangle11 {
    top: 38px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-rectangle12 {
    top: 38px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-text34 {
    left: 2.2888283729553223px;
    color: var(--dl-color-default-9black);
    width: 177px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.mac-book-pro165-rectangle13 {
    top: 38px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-rectangle14 {
    top: 38px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-rectangle15 {
    top: 38px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-rectangle16 {
    top: 38px;
    left: 0px;
    width: 420px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 12px;
}

.mac-book-pro165-text36 {
    top: 769.9090576171875px;
    left: 659px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro165-text38 {
    top: 898.9090576171875px;
    left: 648px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}