.mac-book-pro161-mac-book-pro161 {
    width: 1728px;
    height: 1117px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1728px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 1);
}

.mac-book-pro161-rectangle1 {
    top: 385.0909118652344px;
    left: 79px;
    width: 468px;
    height: 291px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 31px;
    margin-bottom: 0;
}

.mac-book-pro161-rectangle2 {
    top: 385.0909118652344px;
    left: 622px;
    width: 468px;
    height: 291px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 31px;
    margin-bottom: 0;
}

.mac-book-pro161-rectangle3 {
    top: 385.0909118652344px;
    left: 1165px;
    width: 468px;
    height: 291px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    border-radius: 31px;
    margin-bottom: 0;
}

.mac-book-pro161-text {
    top: 676.0909423828125px;
    left: 160px;
    color: rgba(0, 0, 0, 1);
    width: 306px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro161-text02 {
    top: 676.0909423828125px;
    left: 703px;
    color: rgba(0, 0, 0, 1);
    width: 306px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro161-text04 {
    top: 676.0909423828125px;
    left: 1246px;
    color: rgba(0, 0, 0, 1);
    width: 306px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro161-aamywaylogoremovebgpreview2 {
    top: 15px;
    left: 35px;
    width: 140px;
    height: 123px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro161-text06 {
    top: 33.090911865234375px;
    left: 679.0899047851562px;
    color: rgba(0, 121, 187, 1);
    width: 118px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro161-text08 {
    top: 36.090911865234375px;
    left: 827px;
    color: rgba(0, 0, 0, 1);
    width: 108px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro161-text10 {
    top: 36.09000015258789px;
    left: 965px;
    color: rgba(0, 0, 0, 1);
    width: 196px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro161-text12 {
    top: 36.090911865234375px;
    left: 1191px;
    color: rgba(0, 0, 0, 1);
    width: 195px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.mac-book-pro161-image6 {
    top: 12px;
    left: 1607px;
    width: 82px;
    height: 82px;
    position: absolute;
    box-sizing: border-box;
    border-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
}

.mac-book-pro161-line3 {
    top: 94.09136962890625px;
    left: 670px;
    width: 100px;
    height: 0px;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
}